<div class="bootstram-wrapper">
  <div class="container mt">
    <div class="row">
     <div class="col-md-6 offset-md-3">
       <div class="container text-center">
        <img class="img-fluid" style="width: 100px;" src="/assets/login.png"/>
       </div>
       <h1 class="text-center">Login Here !!</h1>
       <!-- creating form -->
       <form (ngSubmit)="onSubmit()">
         <mat-form-field class="full-width">
           <mat-label > User Name </mat-label>
           <input [(ngModel)]="usernamepassword.userName" name="userName" required type="text" matInput/>
         </mat-form-field>

         <mat-form-field class="full-width">
          <mat-label > Password </mat-label>
          <input  [(ngModel)]="usernamepassword.password" name="password" required type="password" matInput/>
        </mat-form-field>
        <div class="container text-center">
          <button type="submit" mat-raised-button color="primary" class="btn btn-primary">Login</button>
          <button  style="margin-left: 10px;" type="reset" mat-raised-button color="accent" class="btn btn-primary">Reset</button>
        </div>

       </form>
       <!-- {{ usernamepassword|json }} -->
     </div>
    </div>
  </div>
</div>
